{{#extends  'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Staff ID</th>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {{#each staff}}
        <tr>
            <td>{{this.staff_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>


</table>
{{/block}}

{{/extends}}